.box {
    width: 400px;
    height: 250px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

button{
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}
