body {
    height: 4000px;    
}

.box {
    width: 400px;
    height: 250px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

button {
    width: 100px;
    height: 40px;
    display: inline;
    margin: 0 auto;
    margin-top: 20px;
}

.btn {
    position: sticky;
    top: 90%;
    left: 0%;
}